.metric {
  @include flex-column-container;
  width: 572px;
  height: 100%;
  background: $white;

  &__header-container {
    @include flex-column-container;
    padding: 0 11px;
    height: 44px;
  }

  &__container_wrapper {
    display: flex;
    gap: 16px;
  }

  &__picker {
    border: 1px solid $grey;
    border-radius: 12px;
    padding: 10px 16px;
    width: 216px;
    display: flex;
    position: relative;
    justify-content: space-between;
    cursor: pointer;
    &--open {
      border-radius: 12px 12px 0 0;
    }
    &_title {
      @include mp-null;
      @include use-font;
    }
  }

  &__celect_container {
    width: 216px;
    height: 44px;
  }

  &__chart {
    width: 492px;
    height: 100%;
    max-height: 360px;
    margin-top: 60px;
    position: relative;
  }
}
