.metric {
  border-radius: 5px;
  width: 572px;
  height: 517px;
  background: $white;

  &__header-container {
    padding: 0 11px;
    display: flex;
    gap: 10px;
    height: 44px;
  }

  &__picker {
    border: 1px solid $grey;
    border-radius: 12px;
    padding: 10px 16px;
    width: 216px;
    display: flex;
    position: relative;
    justify-content: space-between;
    cursor: pointer;
    &--open {
      border-radius: 12px 12px 0 0;
    }
    &_title {
      @include mp-null;
      @include use-font;
    }
  }

  &__celect_container {
    width: 200px;
    height: 44px;
  }
}
