.metric {
  border-radius: 5px;
  width: 572px;
  height: 517px;
  background: $white;
}
.period-selector {
  position: relative;
  width: 250px;
}

.selector {
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  margin-left: 10px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  z-index: 1000;
  width: 100%;
}

.year-selection {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.year {
  cursor: pointer;
  padding: 5px;
}

.year:hover {
  background-color: #f0f0f0;
}

.year.selected {
  color: red; /* Выделение красным цветом */
}

.month-selection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.month {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
}

.month:hover {
  background-color: #f0f0f0;
}

.month.selected {
  color: red; /* Выделение красным цветом */
}
