@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.button {
  @include flex-row-center;
  justify-content: center;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  &__header {
    @include use-font(18px, 22.82px, 500);
    background: $yellow;
    @media (max-width: 767px) {
      display: none;
    }
    &_type-sticky {
      animation: fadeIn 0.5s ease forwards;
      @media (min-width: 767px) {
        display: none;
      }
      @media (max-width: 767px) {
        @include use-font(18px, 22.82px, 500);
        display: block;
        background: $yellow;
        position: fixed;
        top: 18px;
        left: 0;
        right: 0;
        margin: 0 14px 0 16px;
        z-index: 100;
      }
    }
  }

  &__header_back {
    padding: 0;
    background: none;
  }

  &__button-baner {
    @include flex-all-center;
    background: inherit;
    padding: 0;
    width: 24px;
    height: 24px;
    position: relative;
    &:disabled {
      cursor: not-allowed;
      opacity: 0.2;
    }
  }

  &__button-vacancy {
    @include flex-all-center;
    background: inherit;
    padding: 0;
    width: 24px;
    height: 24px;
    position: relative;
    &:disabled {
      cursor: not-allowed;
      opacity: 0.2;
    }
  }

  &__button-instagram {
    @include use-font(18px, 22.82px);
    background: $grey;
    width: inherit;
    border-radius: 8px;
    padding: 12px 0 12px 0;
    margin: 0 auto;
    @media (max-width: 1188px) {
      width: 690px;
    }
    @media (max-width: 767px) {
      width: 346px;
    }
  }

  &__map {
    @include use-font(18px, 22.82px);
    background: $white;
    width: fit-content;
    padding: 10px 15px;
    justify-content: flex-start;
    &_color_yelow {
      background: $yellow;
    }
  }

  &__button-zoom {
    background: transparent;
    padding: 0;
  }

  &__popup_close {
    position: absolute;
    top: 32px;
    right: 32px;
    padding: 0;
    background: none;
    @media (max-width: 767px) {
      top: 24px;
      right: 32px;
    }
  }

  &__button-form {
    @include use-font(18px, 22.82px);
    background: $yellow;
    width: 100%;
    &:disabled {
      pointer-events: none;
      background-color: $grey;
    }
  }
}
