@font-face {
  font-family: 'Manrope';
  font-style: Normal;
  font-weight: 400;
  font-display: swap;
  src: url('src/shared/fonts/Manrope-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Manrope';
  font-style: Medium;
  font-weight: 500;
  font-display: swap;
  src: url('src/shared/fonts/Manrope-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Manrope';
  font-style: Semi Bold;
  font-weight: 600;
  font-display: swap;
  src: url('src/shared/fonts/Manrope-SemiBold.ttf') format('ttf');

}
