// COLORS
$dark: #42434b;
$white: #fff;
$light-grey: #f9f9f9;
$grey: #efefef;
$red: #e10d34;
$green: #59ac99;
$purple: #d0bcff;
$yellow: #fcab20;
$orange: #f56438;

$redOpacity: rgba(255, 102, 102, 0.3);
$blackOpacity: rgba(0, 0, 0, 0.4);
$blackTextOpacity: rgba(0, 0, 0, 0.3);

// FONTS
$font-family: "Manrope", sans-serif;

// SIZES
$max-width: 1440px;
