.list {
  @include mp-null-list;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 16px 0;
}

.containerItem {
  display: flex;
  gap: 4px;
  cursor: pointer;
  user-select: none;
  width: 100%;
}