.teamsItem {
  @include flex-column-container;
  border: $border-white;
  border-radius: 8px;
  padding: 24px 12px;
  width: 316px;
  min-height: 150px;
  gap: 12px;
  margin: 0;
  box-shadow: $items-shadow;
  cursor: pointer;
}

.title {
  @include mp-null;
  @include use-font(20px, 24px, 500);
}

.text {
  @include mp-null;
  @include use-font(14px, 16.8px, 400);
  color: $button;
}


