.main {
  @include flex-column-container;
  padding: 8px 20px 20px;
  gap: 4px;

  &__containers_up {
    display: flex;
    gap: 4px;
    height: 484px;
  }

  &__containers_down {
    display: flex;
    gap: 4px;
    height: 484px;
  }
}

