.svg {
  display: block;
  width: 20px;
  height: 20px;

  &__up-sircle {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100%;
  }

  &__select {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8px;
    right: 8px;
    &_display_none {
      display: none;
    }
    &--open {
      transform: rotate(180deg);
      transition: transform 0.3s ease;
    }
  }

  &__sircle-red {
    position: absolute;
    top: 12px;
    right: 34px;
  }

  &__sircle-green {
    position: absolute;
    top: 12px;
    right: 16px;
  }

  &__table-book {
    position: absolute;
    top: 7px;
    right: 62px;
  }

  &__triangle {
    position: absolute;
    top: 18px;
    right: -20px;
    &-green {
      position: absolute;
      top: -8px;
      left: 13px;
    }
    &-grey {
      position: absolute;
      top: 9px;
      left: -8px;
    }
    &-yellow {
      position: absolute;
      top: 92px;
      left: 17px;
    }
  }

  &__border {
    width: 29px;
    height: 4px;
  }

  &__help {
    position: absolute;
    top: 4px;
    right: 4px;
  }
}
