.sidebar {
  min-width: 237px;
  height: 1060px;

  &__container {
    background: $dark;
    border-radius: 0 12px 12px 0;
    height: 100%;
  }

  &__title {
    @include use-font(32px, 48px, 500);
    @include mp-null;
    color: $light-grey;
    padding: 34px 46px 12.5px 46px;
  }

  &__list {
    @include mp-null-list;
    @include flex-column-container;
    gap: 25px;
    width: 100%;
  }

  &__item {
    display: flex;
    gap: 10px;
    padding: 12px 16px 12px 46px;
    &:first-child {
      background: rgba(255, 255, 255, 0.12);
    }
  }

  &__text {
    @include use-font(16px, 24px);
    @include mp-null;
    color: $white;
  }
}
