.table {
  border-radius: 5px;
  width: 587px;
  height: 100%;
  background: $white;
  overflow-x: hidden;
  overflow-y: auto;

  &__container {
    margin: 0 0 0 20px;
    padding-bottom: 45px;
  }

  &__row {
    display: flex;
    height: 40px;
    border-bottom: 0.5px solid rgba(239, 239, 239, 1);
    cursor: pointer;
    &--selected {
      background: #f9f9f9;
      border-bottom: 0.50px solid #efefef;
    }
  }

  &__text {
    @include cut-word;
    @include use-font;
    @include mp-null;
  }

  &__td {
    @include flex-row-center;
    padding: 4px 8px;
    width: 150px;
    position: relative;
    overflow: visible;
    &_type_s {
      width: 60px;
    }
    &_type_l {
      width: 80px;
    }
    &_type_xl {
      width: 240px;
    }
    &_type_border {
      @include flex-all-center;
      border-radius: 6px;
      width: inherit;
      height: 32px;
    }
  }

  &__info {
    width: 216px;
    height: 92px;
  }

  &__bg-red {
    background: rgba(225, 13, 52, 0.3);
  }

  &__bg-yellow {
    background: rgba(252, 171, 32, 0.3);
  }

  &__bg-green {
    background: rgba(89, 172, 153, 0.3);
  }
}
