.table {
  border-radius: 5px;
  width: 587px;
  height: 100%;
  background: $white;
  // overflow-x: hidden;
  // overflow-y: auto;

  &__container {
    margin: 0 0 0 20px;
  }

  &__row {
    display: flex;
    gap: 4px;
    height: 40px;
  }

  &__td {
    @include use-font;
    @include cut-word;
    @include flex-row-center;
    padding: 4px 8px;
    width: 133px;
    position: relative;
    &_type_s {
      width: 62px;
    }
    &_type_m {
      width: 96px;
      position: relative;
    }
    &_type_l {
      width: 75px;
    }
    &_type_xl {
      width: 202px;
    }
    &_type_border {
      @include flex-all-center;
      border-radius: 6px;
      width: 48px;
      height: 32px;
      background: rgba(89, 172, 153, 0.3);
    }
  }

  &__info {
    width: 216px;
    height: 92px;
  }
}
