.table {
  border-radius: 5px;
  width: 587px;
  height: 100%;
  background: $white;
  overflow-x: hidden;
  overflow-y: auto;

  &__container {
    margin: 0 0 0 20px;
    padding-bottom: 40px;
  }

  &__row {
    display: flex;
    height: 40px;
    border-bottom: 0.5px solid rgba(239, 239, 239, 1)
  }

  &__td {
    @include use-font;
    @include cut-word;
    @include flex-row-center;
    padding: 4px 8px;
    width: 133px;
    position: relative;
    overflow: visible;
    &_type_s {
      width: 45px;
    }
    &_type_m {
      width: 62px;
    }
    &_type_l {
      width: 75px;
    }
    &_type_xl {
      width: 200px;
    }
    &_type_border {
      @include flex-all-center;
      border-radius: 6px;
      width: 48px;
      height: 32px;
      background: rgba(89, 172, 153, 0.3);
    }
  }

  &__info {
    width: 216px;
    height: 92px;
  }
}

.bg-red {
  background-color: rgba(225, 13, 52, .5);
}

.bg-yellow {
  background-color: rgba(89, 172, 153, .5);
}

.bg-green {
  background-color: rgba(66, 67, 75, .5);
}
