.charts__percent {
  @include flex-column-container;
  gap: 19px;
  position: absolute;
  left: 55px;
  bottom: 0;
  width: 350px;

  &_container {
    display: flex;
    justify-content: space-between;
    background: $light-grey;
    padding: 6px 8px;
    border-radius: 12px;
    position: relative;
  }

  &_number {
    @include mp-null;
    @include use-font(14px, 24px);
  }

  &__text {
    @include mp-null;
    @include use-font(10px, 16px, 400);
  }

  &_line {
    background: #FCAB20;
    position: absolute;
    top: 6px;
    left: 8px;
    border-radius: 6px;
    width: 116px;
    height: 25px;
  }
}

.charts__message {
  margin: 100px 0 0 0;
  text-align: center;
}
