.matrix {
  border-radius: 5px;
  width: 587px;
  height: 100%;
  background: $white;

  &__container {
    padding: 0 0 52px 62px;
    width: 533px;
    height: 414px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__down_text {
    @include use-font;
    @include mp-null;
    color: #000;
  }

  &__cell {
    @include flex-row-center;
    justify-content: center;
    position: relative;
    width: 167px;
    height: 117px;
    &_text {
      @include use-font(10px, 16px, 400);
      @include mp-null;
      text-align: center;
      width: 88px;
      color: $blackTextOpacity;
    }
    &_list {
      padding: 0;
      max-width: 110px;
    }
    &_item {
      @include use-font;
      @include mp-null;
    }
  }

  &__label_vertiacal {
    @include use-font;
    @include mp-null;
    position: absolute;
    transform: rotate(-90deg);
    left: -8px;
    bottom: 15px;
    transform-origin: left center;
    text-transform: uppercase;
  }

  &__label_horizontal {
    @include use-font;
    @include mp-null;
    position: absolute;
    bottom: -24px;
    left: 54px;
    text-transform: uppercase;
  }

  &__label_engagement {
    @include use-font(12px, 22px, 400);
    @include mp-null;
    position: absolute;
    left: -87px;
    top: 50px;
    transform: rotate(-90deg);
    text-transform: uppercase;
  }

  &__row {
    display: flex;
    &_skills {
      @include use-font(12px, 22px, 400);
      @include mp-null;
      text-align: center;
      padding: 32px 0 0 0;
      text-transform: uppercase;
    }
  }

  &__high_label-vertical {
    width: 7px;
    background-color: $green;
    color: $green;
    position: relative;
  }
  &__middle_label-vertical {
    width: 7px;
    background-color: $grey;
    color: $dark;
    position: relative;
  }
  &__row_label-vertical {
    width: 7px;
    background-color: $yellow;
    color: $yellow;
    position: relative;
  }

  &__row_label-horizontal {
    width: 7px;
    background-color: $yellow;
    color: $yellow;
    position: relative;
    height: 7px;
    width: 173px;
  }

  &__middle-label-horizontal {
    background-color: $grey;
    color: $dark;
    position: relative;
    height: 7px;
    width: 168px;
  }

  &__high-label-horizontal {
    width: 7px;
    background-color: $green;
    color: $green;
    position: relative;
    height: 7px;
    width: 168px;
  }
}
