.checkbox-container {
  @include flex-row-center;

  .checkbox-input {
    opacity: 0;
    position: absolute;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .checkbox-input + .checkbox-label {
    padding: 0 0 0 52px;
    transition: color 0.3s ease;
    &::before {
      content: '';
      position: absolute;
      left: 16px;
      top: 12px;
      width: 24px;
      height: 24px;
      border: 1px solid grey;
      border-radius: 8px;
      background-color: $white;
      pointer-events: none;
      transition: background-color 0.3s ease, transform 0.3s ease;
    }
  }

  .checkbox-input:checked + .checkbox-label::before {
    background: url('src/shared/assets/checked.svg') $grey no-repeat center;
    transform: scale(1.1);
  }

  .checkbox-input:not(:checked) + .checkbox-label:hover::before {
    border-color: $yellow;
    transform: scale(1.05);
  }

  .checkbox-label {
    @include use-font(14px, 16px, 400);
    &_type_agry {
      padding: 0 0 0 36px !important;
      &::before {
        left: 0 !important;
        top: 5px !important;
      }
    }
  }

  &__text {
    // @include text-info;
    align-self: self-start;
  }
}